body{
 width: 100vw;
 height: 100vh;
background: #FFF;
margin: 0;
overflow: hidden;
}
.test{
background: rgb(2, 211, 248);
background-size: cover;
height: 100vh;
background-position: center;

clip-path: polygon(100% 0, 100% 45%, 0 56%, 0 0);
}
.test h1{
color: #fff;
 margin-top: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }
 .kn.home{
    background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 0px 60px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
 }
  a:link, a:visited {
  background-color: #19e34f;
  color: white;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hovr, a:active {
  background-color: #23a828;
}
    .button {
  background-color: #19e34f;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  }
