html{
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
}
body {
  background-color: #282b70;
}
.text{
  font-family: 'Comfortaa', cursive;
  color: white;
}
a{
  color: white;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}
a:hover{
color: white;
  font-family: 'Montserrat', sans-serif;
  text-decoration: underline;
}
